.card{
    width: 280px;
    background-color: #3c3e44;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;
}

.cardBody{
    padding: 15px;
}